
:root{

--font-family: 'Montserrat', sans-serif;
--p-primary-color: #848484;;
--main-link-color: #989D9C;
--main-title-color: #515151;
--btn-background-secundary-color: #665AE1;
--btn-background-primary-color: #ADFF00;
--bnt-font-primary-color: #000000;
--bnt-font-secundary: #ffffff;

}




